.idea
__pycache__/
/preprocessing/*.ipynb
/preprocessing/*.csv
/model_files/bert-base-uncased/*[!*.md]
/model_files/trained_models/*[!*.md]
/model_files/rebel-large/*[!*.md]
/model_files/CSKG_embeddings/TransE/*[!*.md]
/model_files/DDP_trained_models/*
/model_files/trained_models/*
/model_files/bert-large-uncased/

.vscode/
datasets/*
model_files/bert-large-cased-whole-word-masking
model_files/CSKG_embeddings/AutoSF/trained_model.pkl
model_files/CSKG_embeddings/RotatE/trained_model.pkl
model_files/CSKG_embeddings/Complex/trained_model.pkl
wiki-news-300d-1M.vec
.ipynb_checkpoints
